header {
  padding: 0px;
  text-align: center;
  background-color: blue;
  color: #33cc33;
}

article {
  padding:5px;
  border:dotted 3px #33cc33;
  margin-top:5px;
}

aside {
  float: right;
  width: 20%;
  margin-top:5px;
  padding:5px;
  text-align: center;
  font-style:italic;
  border:double 3px;
}

section {
  width: 75%;
}

table.prices {
  width: 100%;
}

td, th {
  padding-left: 6px;
}
th {
  text-align: left;
}

/* borders around everything */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
