article {
  padding:5px;
  margin-top:5px;
}

aside {
  float: right;
  width: 20%;
  margin-top:5px;
  padding:5px;
  text-align: center;
  font-style:italic;
  border:double 3px;
}

section {
  width: 75%;
}
